<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cookhelper.isaactate.com.cookhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Welcome_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchScreen" />
        <activity android:name=".RecipeScreen" />
        <activity android:name=".SettingsScreen" />
        <activity android:name=".RecipePage" />
        <activity android:name=".FilterPage" />
        <activity android:name=".AddEditFood" />
        <activity android:name=".AddEditRecipe" />
        <activity android:name=".AddRecipe" />
        <activity android:name=".AboutUs" />
        <activity android:name=".SelectFoodsForRecipe"></activity>
    </application>

</manifest>